:root {
/* colors */
--color-green: hsl(75, 94%, 57%);

--color-white: hsl(0, 0%, 100%);

--color-grey-700: hsl(0, 0%, 20%);
--color-grey-800: hsl(0, 0%, 12%);
--color-grey-900: hsl(0, 0%, 8%);

/* font size */
--fs-400: 0.9rem;

/* font weight */
--fw-regular: 400;
--fw-semi-bold: 600;
--fw-bold: 700;

/* spacing */

/* components */

}

body {
    font-family: "Inter", sans-serif;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }